html {
  font-family: "Rounded Mplus 1c";
}

@media screen and (min-width : 768px){
  html {
    font-size: 87.5%;
  }
}

@media screen and (min-width : 1024px) {
  html {
    font-size: 100%;
  }
}


@mixin side-margin-container($width: 80%) {
  max-width: 70rem;
  width: $width;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

// colors
$blue-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;
$primary-text-color: #303133;
$regular-text-color: #606366;
$secondary-text-color: #909399;
$placeholder-text-color: #c0c4cc;
$base-border-color: #dcdfe6;
$light-border-color: #e4e7ed;
$lighter-border-color: #ebeef5;
$extra-light-border-color: #f2f6fc;

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: $regular-text-color;
}
