@media screen and (min-width : 768px){
  html {
    font-size: 87.5%;
  }
}

@media screen and (min-width : 1024px) {
  html {
    font-size: 100%;
  }
}


@mixin side-margin-container($width: 80%) {
  max-width: 61.375rem;
  width: $width;
  margin: 0 auto;
}
