@import "common";

body {
  margin: 0;
}

#app {
  background-color: #EBEEF5;
}

.margin-container {
  @include side-margin-container(80%);
}

.anond-content {
  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    color: $regular-text-color;
  }
}
