{% extends "account/layout.html" %}

{% load i18n %}

{% block title %}{% trans 'Logout' %}{% endblock %}

{% block content %}

{% load account socialaccount %}

{% get_providers as socialaccount_providers %}

<div class="session">
  <div class="logo">MasudaStream</div>
  <div class="main">
    <article>
      <div class="title">
        <h3>{% trans 'Logout' %}</h3>
      </div>
      <div class="content">
        <div class="sign-in-board">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="session-button">{% trans 'Logout' %}</button>
          </form>
        </div>
      </div>
    </article>
  </div>
</div>


{% endblock %}
