{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="h3poteto">
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
    {% render_bundle 'css/app' %}
    <title>MasudaStream</title>
  </head>

  <body>
    <div id="app">
      <router-view></router-view>
    </div>
    {% render_bundle 'js/app' %}
  </body>
</html>
